<script type="text/javascript" id="scrMine">
    window.initialData = "<%=JSON.stringify(initialData)%>";
</script>

<%- include('header') -%>

    <div id="root">
        <%- initialMarkup -%>
    </div>

    <%- include('footer') -%>